<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            name="CCS">
      </category>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView"
            icon="icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView"
            name="CCSGraphView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.unisb.cs.depend.ccs_sem.plugin.perspectives.CCSPerspective"
            fixed="false"
            icon="icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.perspectives.CCSPerspective"
            name="de.unisb.cs.depend.ccs_sem.plugin.perspectives.CCSPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditor"
            contributorClass="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditorActionContributor"
            extensions="ccs"
            icon="icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditor"
            name="CCS Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            name="CCS">
      </category>
      <wizard
            category="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSFileWizard"
            hasPages="true"
            icon="icons/sample.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSFileWizard"
            name="CCS File"
            project="false">
      </wizard>
      <wizard
            category="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSProjectWizard"
            finalPerspective="de.unisb.cs.depend.ccs_sem.plugin.perspectives.CCSPerspective"
            hasPages="true"
            icon="icons/sample.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSProjectWizard"
            name="CCS Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.unisb.cs.depend.ccs_sem.plugin.actionSet"
            label="CCS Action Set"
            visible="true">
         <menu
               id="ccsMenu"
               label="CCS &amp;Menu">
            <separator
                  name="ccsGroup">
            </separator>
         </menu>
         <action
               class="de.unisb.cs.depend.ccs_sem.plugin.actions.OpenCCSFile"
               icon="icons/sample.gif"
               id="de.unisb.cs.depend.ccs_sem.plugin.actions.OpenCCSFileAction"
               label="&amp;Open File"
               style="push"
               toolbarPath="ccsGroup"
               tooltip="Open a ccs file">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView.Contribution"
            targetID="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView">
         <action
               class="de.unisb.cs.depend.ccs_sem.plugin.viewsActions.RefreshGraph"
               disabledIcon="icons/refresh_dis.gif"
               enablesFor="1"
               icon="icons/refresh.gif"
               id="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView.actions.refresh"
               label="Refresh"
               menubarPath="graphFunctions"
               toolbarPath="graphFunctions"
               tooltip="Refresh this graph">
            <selection
                  class="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditor">
            </selection>
         </action>
      </viewContribution>
   </extension>


</plugin>
