<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            name="CCS">
      </category>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView"
            icon="resources/icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView"
            name="CCS Graph">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.StepByStepTraverseView"
            icon="resources/icons/stepByStepView.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.StepByStepTraverseView"
            name="Step by step traverse">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.LTLCheckerView"
            icon="resources/icons/ltlChecker.png"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.LTLCheckerView"
            name="LTL Checker">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.CounterExampleView"
            icon="resources/icons/counterexample.png"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.CounterExampleView"
            name="CounterExample"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.simulation.TraceView"
            icon="resources/icons/trace.png"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.simulation.TraceView"
            name="Trace"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.simulation.ChooseActionView"
            icon="resources/icons/chooseAction.png"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.simulation.ChooseActionView"
            name="Choose Action"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.simulation.TopLevelGraphView"
            icon="resources/icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.simulation.TopLevelGraphView"
            name="Top Level Graph"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.unisb.cs.depend.ccs_sem.plugin.perspectives.CCSPerspective"
            fixed="false"
            icon="resources/icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.perspectives.CCSPerspective"
            name="CCS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditor"
            contributorClass="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditorActionContributor"
            extensions="ccs"
            icon="resources/icons/ccs_file.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditor"
            name="CCS Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            name="CCS">
      </category>
      <wizard
            category="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSFileWizard"
            hasPages="true"
            icon="resources/icons/ccs_file.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSFileWizard"
            name="CCS File"
            project="false">
      </wizard>
      <wizard
            category="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSProjectWizard"
            hasPages="true"
            icon="resources/icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSProjectWizard"
            name="CCS Project"
            project="true">
      </wizard>
      <wizard
            category="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.wizards.ExportWizard"
            hasPages="true"
            id="de.unisb.cs.depend.ccs_sem.plugin.wizards.ExportLTLWizard"
            name="Export LTL"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.unisb.cs.depend.ccs_sem.plugin.preferencePage.CCSPreferencePage"
            id="de.unisb.cs.depend.ccs_sem.plugin.preferencePage.CCSPreferencePage"
            name="CCS">
      </page>
   </extension>
   <extension
         id="de.unisb.cs.depend.ccs_sem.ccsproblemmarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         id="de.unisb.cs.depend.ccs_sem.plugin.ccsBuilder"
         name="CCS Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.unisb.cs.depend.ccs_sem.plugin.builder.CCSBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="de.unisb.cs.depend.ccs_sem.plugin.ccsNature"
         name="CCS Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.unisb.cs.depend.ccs_sem.plugin.builder.CCSNature">
         </run>
      </runtime>
      <builder
            id="de.unisb.cs.depend.ccs_sem.plugin.ccsBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.unisb.cs.depend.ccs_sem.plugin.ccsRessourceCreationActionSet"
            label="CCS Resource Creation Actionset"
            visible="false">
         <action
               class="de.unisb.cs.depend.ccs_sem.plugin.actions.NewCCSFile"
               icon="resources/icons/ccs_file.gif"
               id="de.unisb.cs.depend.ccs_sem.plugin.newCCSFileAction"
               label="New CCS File"
               style="pulldown"
               toolbarPath="CCS/NewCCSFile"
               tooltip="Create a new CCS File">
         </action>
      </actionSet>
   </extension>


</plugin>
