<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            name="CCS">
      </category>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView"
            icon="resources/icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView"
            name="CCS Graph">
      </view>
      <view
            allowMultiple="false"
            category="de.unisb.cs.depend.ccs_sem.plugin.views.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.views.StepByStepTraverseView"
            icon="resources/icons/stepByStepView.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.views.StepByStepTraverseView"
            name="Step by step traverse">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.unisb.cs.depend.ccs_sem.plugin.perspectives.CCSPerspective"
            fixed="false"
            icon="resources/icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.perspectives.CCSPerspective"
            name="CCS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditor"
            contributorClass="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditorActionContributor"
            extensions="ccs"
            icon="resources/icons/ccs_file.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditor"
            name="CCS Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            name="CCS">
      </category>
      <wizard
            category="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSFileWizard"
            hasPages="true"
            icon="resources/icons/ccs_file.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSFileWizard"
            name="CCS File"
            project="false">
      </wizard>
      <wizard
            category="de.unisb.cs.depend.ccs_sem.plugin.CCS_category"
            class="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSProjectWizard"
            hasPages="true"
            icon="resources/icons/ccs.gif"
            id="de.unisb.cs.depend.ccs_sem.plugin.wizards.NewCCSProjectWizard"
            name="CCS Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView.Contribution"
            targetID="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView">
         <action
               class="de.unisb.cs.depend.ccs_sem.plugin.viewActions.Evaluate"
               disabledIcon="resources/icons/refresh_dis.gif"
               icon="resources/icons/refresh.gif"
               id="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView.actions.refresh"
               label="Refresh"
               menubarPath="graphFunctions"
               toolbarPath="graphFunctions"
               tooltip="Refresh this graph">
         </action>
         <action
               class="de.unisb.cs.depend.ccs_sem.plugin.viewActions.StepByStepTraverse"
               disabledIcon="resources/icons/step_dis.gif"
               icon="resources/icons/step.gif"
               id="de.unisb.cs.depend.ccs_sem.plugin.views.CCSGraphView.actions.stepByStepTraverse"
               label="Step by step traverse"
               menubarPath="graphFunctions"
               toolbarPath="graphFunctions"
               tooltip="Step by step traverse">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditor.editorActions"
            targetID="de.unisb.cs.depend.ccs_sem.plugin.editors.CCSEditor">
         <action
               class="de.unisb.cs.depend.ccs_sem.plugin.actions.ShowGraph"
               disabledIcon="resources/icons/refresh_dis.gif"
               icon="resources/icons/refresh.gif"
               id="de.unisb.cs.depend.ccs_sem.plugin.actions.ShowGraphAction"
               label="Show Graph"
               menubarPath="ccsMenu/ccsGroup"
               style="push"
               toolbarPath="ccsGroup"
               tooltip="Open the Graph view and displays the CCS Graph">
         </action>
         <action
               class="de.unisb.cs.depend.ccs_sem.plugin.actions.StepByStepTraverse"
               disabledIcon="resources/icons/step_dis.gif"
               icon="resources/icons/step.gif"
               id="de.unisb.cs.depend.ccs_sem.plugin.actions.StepByStepTraverse"
               label="Step by step traverse"
               menubarPath="ccsMenu/ccsGroup"
               style="push"
               toolbarPath="ccsGroup"
               tooltip="Step by step traverse">
         </action>
         <menu
               id="ccsMenu"
               label="&amp;CCS"
               >
            <separator name="ccsGroup"/>
         </menu>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.unisb.cs.depend.ccs_sem.plugin.preferencePage.CCSPreferencePage"
            id="de.unisb.cs.depend.ccs_sem.plugin.preferencePage.CCSPreferencePage"
            name="CCS">
      </page>
   </extension>


</plugin>
