<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         name="CCS Evaluator RCP"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="de.unisb.cs.depend.ccs_sem.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.unisb.cs.depend.ccs_sem.rcp.application"
            name="CCS Editor and Evaluator">
         <property
               name="appName"
               value="CCS Editor and Evaluator">
         </property>
      </product>
   </extension>

</plugin>
